#text-form {
	margin-top: 50px !important;
	font-size: 1.5rem !important;
}

#contact-form {
	margin-top: 50px;
	margin-bottom: 100px;
}

#contact-form h5 {
	font-size: 2.5rem !important;
}

label.error {
	color: #da7300;
}

#contact-form .btn-primary {
	background-color: #da7300;
	border-color: #da7300;
}