body {
    font-family: 'Nunito', sans-serif !important;
}

p {
    font-size: 18px;
}

#bloc-page {
    background-color: aliceblue;
}

#bloc-page .bg-dark {
    background-color: #3a0918 !important;
}

/* ----- HEADER ----- */

header {
    padding-top: 120px;
}

h1::after {
	background-color: black;
    bottom: -10px;
    content: '';
	display: block;
    height: 2px;
    position: absolute;
	width: 100%;
}

#row-h2 {
    margin: 60px 0 60px 0;
}

#row-h2 .fa-chevron-down {
    font-size: 25px;
}

/* ----- SECTION SLIDER ----- */

#section-slider {
    margin-bottom: 80px;
}

#slider-container {
    height: 400px;
}

#slider-container .slide {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

#slider-container .slide-text {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    left: 20%;
    padding: 30px 60px 30px 60px;
    position: absolute;
    top: 20%;
    z-index: 2;
}

#slider-container img {
    bottom: 0;
    height: auto;
    position: absolute;
    width: auto;
}

#slider-next {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px 0 0 6px;
    font-size: 30px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 6;
}

#slider-prev {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 6px 6px 0;
    display: block;
    font-size: 30px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 6;
}

#slider-prev .fa-angle-left {
    color: white;
    padding-top: 8px;
    padding-left: 10px;
}

#slider-next .fa-angle-right {
    color: white;
    padding-top: 10px;
    padding-left: 15px;
}

#timeline-container {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    height: 6px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#timeline {
    background-color: #c21c4e;
    height: 100%;
    width: 0;
}

@media all and (max-width: 992px) { /* responsive écrans tablette (768px-992px) */
    
    #slider-container {
        height: 300px;
    }
}

@media all and (max-width: 576px) { /* responsive smartphones (320px-576px) */
		
	#slider-container {
        height: 200px;
        width: 100%;
	}

	#slider-container .slide-text {
        font-size: 1rem;
        height: auto;
        left: 0;
        right: 0;
		text-align: center;
        top: 50%;
        transform: translateX(-50%);
		transform: translateY(-50%);
        width: 100%;
	}
}

/* ----- SECTION PRESENTATION ----- */

#section-presentation .fa-fan {
    color: #3a0918;
}

/* ----- FOOTER -----*/

footer {
    background-color: #3a0918;
    color: white;
    margin-top: 60px;
    padding: 80px 0 20px 0;
}