#login-form {
    height: 100vh;
    margin-bottom: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
}

#login-form .login-content {
    background-color: #3a0918;
}

label.error {
	color: #da7300;
}

#form-login .btn-primary {
	background-color: #da7300;
	border-color: #da7300;
}